.terraform/

*.log
*.tflog

# .terraform.lock.hcl

*.tfstate
*.tfstate.*

*.tfstate.backup

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.vscode/
.idea/
.DS_Store

.terragrunt-cache/
