name: Build and Release Artifacts

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.5"
          cache-dependency-path: api/go.sum5

      - name: Build API
        run: |
          cd api
          go mod download
          go build -o server main.go
          tar -czvf ../backend-artifact.tar.gz server data/omikuji.json

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Build UI
        run: |
          cd ui
          bun install
          bun run build
          tar -czvf ../frontend-artifact.tar.gz .next public package.json node_modules

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            backend-artifact.tar.gz
            frontend-artifact.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
